@page "/"

<div class="container">
	<div class="left">
		<div class="nav">
			<label>
				<input type="checkbox" id="myCheckbox" name="myCheckbox">
				logo
			</label>
		</div>
		<div class="headline1">
			<h1>Hello World</h1>
		</div>
		<img alt="Yellow vintage key" src="yellowKey.png">
	</div>
	<div class="right">
		<form action="#" method="post">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required><br><br>

			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required><br><br>

			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required><br><br>

			<label for="subscribe">
				<input type="checkbox" id="subscribe" name="subscribe">
				Subscribe to newsletter
			</label><br><br>
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
